html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

.page-btn {
  z-index: 9;
  position: fixed;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  min-width: 8em;
  background-color: rgba(255,255,255,.8);
  border-radius: 5em;
}
